@model ProductVM

@{
    if (TempData["Error"] != null)
    {
        <div class="alert alert-danger"> @TempData["Error"]</div>
    }
}

<form asp-action="Update" asp-controller="Market" method="post" enctype="multipart/form-data">
    <label class="form-label">Name:</label>
    <input asp-for="Name" class="form-control" />

    <label class="form-label">Price:</label>
    <input asp-for="Price" class="form-control" />

    <label class="form-label">Current Photo:</label> <br />
    <img height="60px" width="60px" src="~/Images/@ViewBag.PhotoName" alt="No Photo" /> <br />

    <label class="form-label">Upload Product Photo:</label>
    <input asp-for="Photo" class="form-control" />

    <label class="form-label">Stock</label>
    <input asp-for="InStock" /> <br />

    <input type="submit" class="btn btn-outline-warning w-100" value="UPDATE" />
</form>